<div class="dashboard-container">
    <div class="container-fluid">
        <div class="dashboard-content">
            <h4>Reservation History</h4>
            <app-reservations-header></app-reservations-header>
            <div class="row" style="height: 45%;">
                <h5>Your reservations:</h5>
                <div class="col-md-auto" *ngFor="let reservation of confirmedReservations">
                    <app-reservation-card [reservation]="reservation"></app-reservation-card>
                </div>
            </div>
        </div>
    </div>
</div>