<div class="login-container">
    <h1>Login</h1>
    <p><em>Login to manage your reservations.</em></p>
    <div class="container">
        <form class="login-form">
            
            <div class="alert alert-danger" role="alert" *ngIf="authError">
                {{authErrorMessage}}
              </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="email" name="email">
                <div id="emailHelp" class="form-text">This must end with "@mail.fresnostate.edu" or "@csufresno.edu"</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
            </div>
            <button type="submit" class="btn btn-dark" (click) = "onSubmit()">Submit</button>
        </form>
    </div>
</div>