<div class="welcome-container">
    <h1>Welcome! Login or Sign Up to get started!</h1>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: right;">
                <button class="btn btn-dark btn-lg" [routerLink]="['/login']">Login</button>
            </div>
            <div class="col" style="text-align: left;">
                <button class="btn btn-dark btn-lg" [routerLink]="['/signup']">Sign Up</button>
            </div>
        </div>
    </div>
</div>

