<div class="signup-container">
    <h1>Sign Up</h1>
    <p><em>Sign up to create your next reservation.</em></p>
    <div class="container">
        <form class="signup-form">
            <div class="mb-3">
                <label for="newEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">This must end with "@mail.fresnostate.edu" or "@csufresno.edu"</div>
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>