<div class="dashboard-container">
  <div class="container-fluid">
    <div class="dashboard-content">
      <h4>Create New Reservation</h4>
      <p>Choose a timeslot:</p>
      <div class="row" style="height: 45%;">
        <div class="mb-3">
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
                  <th>Sunday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                  <td><button class="btn btn-outline-secondary">10am-12pm</button></td>
                </tr>
                <tr>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                  <td><button class="btn btn-outline-secondary">12pm-2pm</button></td>
                </tr>
                <tr>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                  <td><button class="btn btn-outline-secondary">2pm-4pm</button></td>
                </tr>
                <tr>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                  <td><button class="btn btn-outline-secondary">4pm-6pm</button></td>
                </tr>
                <tr>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                  <td><button class="btn btn-outline-secondary">8pm-10pm</button></td>
                </tr>
                <tr>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                  <td><button class="btn btn-outline-secondary">10pm-12am</button></td>
                </tr>
              </tbody>
            </table>
            <p><em>Please call our front desk to inquire about special reservation windows.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>