.dashboard-content {
  width: 100%;
  height: 100%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: #fff;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.dashboard-col {
  text-align: center;
}

.table {
  border: 1px solid black;
}

.table thead th {
  border-top: 1px solid #000!important;
  border-bottom: 1px solid #000!important;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.table td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: none!important;
  text-align: center;
}

.select-reservation {
  float: right;
  margin-right: 2.5%;
}

.btn-outline-light {
  color: #000!important;
}

.week-header {
  text-align: center;
}